.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* espace entre menu et logout */
  height: 100vh; /* occupe toute la hauteur */
  background-color: cyan;
  padding: 10px;
}

.menu a, .logout a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}
.DeuxiemTrait{
  
}