.photo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* espace entre l'image et le + */
}

.photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 360%;
    border: 1px solid #ccc;
}

.add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #aaa;
    position: relative;
    top: 35px;
    left: -35px;
}