.sendBtn ion-icon {
  transform: rotate(-40deg);
  padding: 10px;
  margin-top: -;
}
.chatBox{
  width: 20%;
  height: 200px;
  background-color: aqua;
  text-align: center;
  align-items: center;
}
.chatBox input{
  padding: 10px;
}
.chatBox button{
  align-items: center;
  text-align: center;
  justify-content: center;
}
.chat{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}